<!-- Liste des congés de l'utilisateur -->
<div  class="mb-5">
    <h3>Vos congés</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Date début</th>
          <th>Date fin</th>
          <th>Type</th>
          <th>Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conge of userConges">
          <td>{{ conge.dateDebut | date }}</td>
          <td>{{ conge.dateFin | date }}</td>
          <td>{{ conge.type }}</td>
          <td>{{ conge.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Calendrier des congés -->
  <div>
    <h2>Mon calendrier de congés</h2>
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>