:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}
.form-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.form-group label {
  font-weight: bold;
}

button.btn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
}

.table th, .table td {
  text-align: center;
}

.table th {
  background-color: #f1f1f1;
  color: #333;
}

.table td {
  background-color: #fff;
  color: #666;
}

.notification-container {
  background: #f8f9fa;
  border-left: 5px solid #007bff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  animation: fadeIn 0.5s ease-in-out;
  position: fixed;
  top: 150px;
  right: 20px;
  z-index: 1000;
  width: 300px;
}

.notification-title {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}

.notification-list {
  list-style: none;
  padding: 0;
}

.notification-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}

.notification-item:hover {
  background: #eef5ff;
}

.notification-icon {
  margin-right: 10px;
  font-size: 18px;
  color: #ff9800;
}

/* Smooth fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.notification {
  background-color: #007bff;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.notification.fade-out {
  opacity: 0;
}

.notification .icon {
  margin-right: 10px;
  font-size: 20px;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

